# conf/config.yaml
model:
  name_or_path: 'google/vit-base-patch16-224-in21k'
  device: 'cuda' # 'cuda' or 'cpu'

data:
  path: './data/processed/'

training:
  output_dir: './project/models/trained_models/cifar10'
  fp16: true # false  #Mixed precision
  num_train_epochs: 1
  learning_rate: 0.0001
  per_device_train_batch_size: 64
  evaluation_strategy: 'steps'
  eval_steps: 500
  logging_steps: 10
  save_steps: 500
  save_total_limit: 2
  load_best_model_at_end: true
  metric_for_best_model: 'accuracy'
  remove_unused_columns: false

