name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
    steps:
      - uses: actions/checkout@v3
      
      - name: Authenticate gcloud
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        
      - uses: iterative/setup-dvc@v1
      - name: Get Data
        run: dvc pull
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: user/app:latest
          file: dockerfiles/train_model.dockerfile
          context: .
