# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U ruff pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with ruff
      run: |
        # stop the build if there are Python syntax errors or undefined names
        ruff check --fix
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        ruff format
    - name: Test with pytest
      run: |
        if find tests/ -type f -name "*_test.py" | grep -q .; then
          echo "Test files found in subdirectories, running tests..."
          pytest tests/
        else
          echo "No test files found in subdirectories, skipping tests."
        fi
    - name: Statically check for types
      run: |
        mypy project --ignore-missing-imports
